<div id="fetch_digital_objects_results_template">
	<div class="modal-body">
		<%= form_tag({:controller => :linkomatic, :action => :view_job}, method: "get", id: "fetch_results_form") do |form| %>
		    
		    <div id="fetchProgress">
              <p>The Fetch URNs job has been set up as a background job. You can view the status of this job on the Background Jobs page.</p>
            </div>
			<input type="hidden" value="<%="${uri}"%>" name="uri" />
			<div class="modal-footer">
				<button id="fetchDigitalObjectsButton" class="btn btn-primary"><%= I18n.t("linkomatic.fetch_results.actions.submit") %></button>
	  			<button class="btn btn-default btn-primary"><%= I18n.t "linkomatic.fetch_results.actions.close" %></button>
	  		</div>
  		<% end %>
  	</div>
</div>