<% if controller.controller_name == 'jobs' && controller.action_name == 'show' %>

  <% define_template "fetch_urn_job", jsonmodel_definition(:fetch_urn_job) do |form, job| %>

      <div class="form-group">
      	<label class="col-sm-3 control-label"><%= I18n.t("linkomatic.target")  %></label>
        <div class="col-sm-9"><%= link_to I18n.t("actions.view"), {:controller => :resolver, :action => :resolve_readonly, :uri => job["source"]}, :class => "btn btn-xs btn-default" %></div>
      </div>

  <% end %>

<% end %>
